
.btnVoltar {
  display: flex;
  justify-content: right;
  margin: 10px 0px 20px 0px;
}

.btnVoltar button {
  width: 200px;
}


.btn-css {
  color: rgb(0, 0, 0);
  background: #2196f3;
  border-radius: 6px;
  padding: 8px 16px;
  transition: background 0.3s;
  text-align: center;
  min-width: 100px;
  margin-left: 10px;
  border: 0;
}

.btn-css:hover {
  background: #1565c0;
}

.containerGraficos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grafico{

  height: 260px;
  width: auto;
}

legend{
  font-size: small;
}


@media (max-width: 768px) {
  .containerGraficos {
    flex-direction: column;
  }
}
