<hr>
<div class="titulo"> Os gráfico das demandas e preferências</div>
<div class="titulo"> dos clientes pessoas físicas e pessoas jurídicas</div>
<hr>
<div>

  <div>

  </div>

  <div class="containerGraficos">
    <div>
        <canvas class="grafico" #estatistica1></canvas>
        <legend>O gráfico demonstra que o serviço de mais buscado pelos clientes {{ servicoPedido }}</legend>
    </div>
    <div>
        <canvas class="grafico" #estatistica2></canvas>
        <legend>Pelo gráfico do tipo de cliente {{ tipoCliente }}</legend>
      </div>
  </div>

<hr>
  <div class="containerGraficos">
    <div>
      <canvas class="grafico" #estatistica3></canvas>
      <legend>Vemos pelo gráfico a cima que a preferência pelo meio de contato de pessoa jurídica {{ meioCamunicacaoJuridico }}</legend>
    </div>
    <div>
      <canvas class="grafico" #estatistica4></canvas>
      <legend>Vemos pelo gráfico acima que a preferência pelo meio de contato de pessoa jurídica {{ meioCamunicacaoFisico }}</legend>
    </div>
  </div>

  <hr>

  <div>
      <canvas class="grafico5" #estatistica5></canvas>

       @if (cidadesDestaque.length > 0){
          <legend>
            O gráfico mostra que a a maior parte dos cliente vem da(s) cidade(s) de
             @for (item of cidadesDestaque; track item.cidade) {
            {{ item.cidade }},
             }
          </legend>
        }

  </div>



</div>


<div class="btnVoltar">
  <button mat-flat-button class="btn-css"(click)="btnVoltar()">Voltar</button>
</div>
