@if(permissao){

  @if(paginasInternas == 0){
    <app-ocorrencias (enviaEstadoPermissão)="recebePermissao($event)"></app-ocorrencias>
  }@else if(paginasInternas == 1){
    <app-grafico-barras (enviaVoltar)="recebePermissao($event)" ></app-grafico-barras>
  }

}@else {
<form #login="ngForm" (ngSubmit)="btnEntrar()" novalidate>

  <div class="corpo">
    <div class="campo">
      <label>Administrador</label>
      <mat-form-field class="mat-form1">
        <mat-label>Senha:</mat-label>
         <input id="enter" matInput type="password" [(ngModel)]="senha" name="senha">
      </mat-form-field>
      <button mat-flat-button class="btn-enviar" type="submit">Entrar</button>
    </div>
  </div>
</form>
}
